<% action = (sub.persisted? ? sub_url(sub) : subs_url) %>

<form action="<%= action %>" method="post" accept-charset="utf-8">
  <% if sub.persisted? %>
  <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <input name="authenticity_token"
  type="hidden"
  value= "<%= form_authenticity_token %>">

  <label for="sub_title">Sub Title:</label>
  <input id="sub_title"
  type="text"
  name="sub[title]"><br>

  <h3>Add Links</h3>
  <% unless sub.persisted? %>
     <%  5.times do |n| %>
      <label>Link Title:
      <input type="text"
      name="links[<%= n %>][title]"></label><br>

      <label>Link Url:
      <input type="text"
      name="links[<%= n %>][url]"></label><br>

      <label>Link Descriptions (optional):
      <input type="text"
      name="links[<%= n %>][description]"></label><br>
      <br>
    <% end %>
  <% end %>
  <p><input type="submit"></p>
</form>